# WELCOME TO PYTHON 101 &#128212;

![Learning Python](https://media.giphy.com/media/coxQHKASG60HrHtvkt/giphy.gif?cid=790b7611j007uace9f8pfdg86jtgwi1o4tsfvjl863xk3nbx&ep=v1_gifs_search&rid=giphy.gif&ct=g)

## So let's get started

Python is a popular [high level programming language](https://www.geeksforgeeks.org/what-is-high-level-language/) created by Guido Van Rossum in 1991. It's used in diverse roles such as :
- Web Development
- Game Development, and also...
- &#128171; **All data roles** &#128171; , name it... Data Science, Data Analysis, Data Engineering, Machine Learning, etc.

## How it works?
Python doesn’t convert its code into machine code. It converts it into byte code. So within Python, compilation happens, but it’s just not in a machine language. It is into byte code (.pyc or .pyo) and this byte code can’t be understood by the CPU. So we need an interpreter called the Python virtual machine to execute the byte codes. For more details you could check from these resources :
- https://www.geeksforgeeks.org/internal-working-of-python/

### Enough yapping, let's dive into the code shall we? &#128583;

# 1) How to print a simple hello world? &#129300;

Well... it's simple, just create a .py/.ipynb file than code

In [1]:
print("hello world")

# see? ez pz

hello world

# 2) Declaring Variables

Not like ~~Jawa~~ Java, Python has no command for declaring a variable

In [2]:
x = 10
y = "wawan"
print(x)
print(y)

10
wawan

Python can change type after they have been set

In [3]:
p = 999.8 # from float
p = "Mencetak info" # to string
print(type(p))

<class 'str'>

# 3) Primitive Data Types

Primitive data types are basic categories that it used for to save data's / information's into the computer program. It has 6 primitive data types :
- `int` -> Data type for integers
- `float` -> Data type for decimal or fractional numbers
- `complex` -> Data type for complex numbers
- `string` -> A data type for storing text or a sequence of characters
- `boolean` -> A data type that has only two values (True or False)
- `none`

### Numbers

In [4]:
# Integer
c = 8
print(c)
print(type(c))

8
<class 'int'>

In [5]:
# float
v = 3.09
print(v)
print(type(v))

3.09
<class 'float'>

In [6]:
# Complex
# Complex numbers are written with a "j" as the imaginary part:
q = 5+9J
r = 3j
s = -9j
print(q)
print(type(q), "\n")
print(r)
print(type(r), "\n")
print(s)
print(type(s))

(5+9j)
<class 'complex'>

3j
<class 'complex'>

(-0-9j)
<class 'complex'>

### Strings

In [7]:
a = "p mabar valo"
print(a)
print(type(a), "\n")

# is the same thing as

b = 'p mabar valo'
print(b)
print(type(b))

p mabar valo
<class 'str'>

p mabar valo
<class 'str'>

In [8]:
var = 'My mom said "you need to take a bath"'
print(var)
print(type(var), "\n")

# is the same data type as

var1 = "My mom said 'you need to take a bath'"
print(var1)
print(type(var1))

My mom said "you need to take a bath"
<class 'str'>

My mom said 'you need to take a bath'
<class 'str'>

In [9]:
variable = "this is line zero\n this is line one"
print(variable)
print(type(variable))

this is line zero
 this is line one
<class 'str'>

In [10]:
# Declare a multiline string using a single quote and double quote
a = '''Welcome to python basics
you can learn for data science
or you can learn for webdev as well \n'''

b = """Welcome to python basics
you can learn for data science
or you can learn for webdev as well"""

print(a)
print(b)

Welcome to python basics
you can learn for data science
or you can learn for webdev as well

Welcome to python basics
you can learn for data science
or you can learn for webdev as well

### Booleans

In [11]:
x = 9
print(bool(x))

True

In [12]:
z = False
print(z)
print(type(z))
print(bool(z))

False
<class 'bool'>
False

### Casting Data Types

In [13]:
# cast from str to int
str_numbers = "456"
str_numbers_to_int = int(str_numbers)
print("Before casting :", str_numbers, ", the data type is", type(str_numbers))
print("After casting :", str_numbers_to_int, ", the data type is", type(str_numbers_to_int))

Before casting : 456 , the data type is <class 'str'>
After casting : 456 , the data type is <class 'int'>

In [14]:
# casting from int to str
integer = 12345
integer_to_str = str(integer)
print("Before casting :", integer, ", the data type is", type(integer))
print("After casting :", integer_to_str, ", the data type is", type(integer_to_str))

Before casting : 12345 , the data type is <class 'int'>
After casting : 12345 , the data type is <class 'str'>

In [15]:
# casting from int to bool
num_int = 1
num_bool = bool(num_int)
print(num_bool, type(num_bool))

num_int = 0
num_bool = bool(num_int)
print(num_bool, type(num_bool))

True <class 'bool'>
False <class 'bool'>

# 4) Operators

### Comparison Operator

![](https://d1e4pidl3fu268.cloudfront.net/48295477-61ac-4b5e-a6dc-456acd3ab0a6/comparisonoperators.png)

In [16]:
# Equal to
8 == 8

True

In [17]:
# Not equal to
8 != 9

True

In [18]:
# Greater than
8 > 9

False

In [19]:
# Less than
8 < 9

True

In [20]:
# Less than
8 <= 9

True

In [21]:
# Less than
9 >= 9

True

### Logical Operator

![](https://miro.medium.com/v2/resize:fit:602/1*SDDa0gcAESWXdiiy3xs3PQ.png)

In [22]:
a = True
b = True
print(a and b)
print(a or b)
print(not b)

True
True
False

In [23]:
5 > 6 and 6 < 7

False

The logic above can be called with Compound Truth

### Aritmetic Operator

![](https://d1e4pidl3fu268.cloudfront.net/f20083ef-a2fb-4673-ac88-13d58ba68133/Arithmeticoperators.png)

In [24]:
e = 8
f = 2

# Summation
sum = e + f
print(f"The sum of e with f is : {sum}\n")

# Reduction
red = e - f
print(f"The reduction of e with f is : {red}\n")

# Multiplication
multi = e * f
print(f"The multipication of e with f is : {multi}\n")

# Division
divi = e / f
print(f"The quotient of e with f is : {divi}\n")

# Modulo
mod = e % f
print(f"The remainder of e with f is : {mod}\n")

# Power
pow = e ** f
print(f"The power of e of f is : {pow}\n")

The sum of e with f is : 10

The reduction of e with f is : 6

The multipication of e with f is : 16

The quotient of e with f is : 4.0

The remainder of e with f is : 0

The power of e of f is : 64

<img src="https://i.ytimg.com/vi/i2i8YkFyLVs/maxresdefault.jpg" alt="precedence_img" width="500">

In [25]:
result = 2 + 3 * (4 ** 2) / 8 - 5
result

3.0

In [26]:
# Try to answer before you run it
guess = 60 - 4 * 3 / (2 ** 2) * 2 + 1

In [27]:
# answer right here

## Input Output

### Input

In [ ]:
name = str(input("What is your name : "))
age = int(input("What's your age : "))

print("Name: ", name)
print("Age: ", age)

### Output

In [ ]:
# normal print
print('Hi all! I am', name, 'age', age, 'years old')

Hi all! I am Parman age 24 years old

In [ ]:
# format print
print(f'Hi all! I am {name} age {age} years old')

Hi all! I am Parman age 24 years old

In [ ]:
# format print
print(f'Hi all! I am %s age %d years old'%(name, age))

Hi all! I am Parman age 24 years old

In [ ]:
print(30*"=")
print("Temperature Calculator Program")
print(30*"=")

==============================
Temperature Calculator Program
==============================

# 5) Conditionals and Exception Handling

### Using If-Else

In [ ]:
try:
    your_GPA = float(input("Enter your GPA: "))
    if 4.0 >= your_GPA >= 0.0:
        if 4.0 >= your_GPA >= 3.80:
            print(f"Damn you've got a magna cumlaude with your {your_GPA} GPA")
        elif 3.50 <= your_GPA < 3.80:
            print(f"Cool!! You've got a cumlaude with your {your_GPA} GPA")
        elif 3.00 <= your_GPA < 3.50:
            print(f"You've got a stable GPA tho")
        elif your_GPA < 3.0:
            print(f"You need a stable GPA")
    else:
        print(f"Sorry, your GPA {your_GPA} is out of range and invalid")
except:
    print("Please enter a valid GPA")

Cool!! You've got a cumlaude with your 3.7 GPA

### Using match case

In [ ]:
try:
    status_code = int(input("Enter your status code: "))
    print("Your code means")
    match status_code:
        case 200:
            print("Success!")
        case 400:
            print("Bad Request")
        case 401:
            print("Unauthorized")
        case 402:
            print("Payment Required")
        case 403:
            print("Forbidden")
        case 404:
            print("Not Found")
        case 500:
            print("Internal Server Error")
except :
    print("Please enter a valid status code")

Your code means
Success!

### Ternary

In [ ]:
a = 3
b = "Even Numbers" if a % 2 == 0 else "Odd Numbers"
print(b)

Odd Numbers

# 6) Loops

### Using for loops

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
# For loop with range
for i in range(5):
    print("Data science is easy!")

print(50*"=")

for i in range(1, 5, 2):
    print("Data science is easy!")

Data science is easy!
Data science is easy!
Data science is easy!
Data science is easy!
Data science is easy!
==================================================
Data science is easy!
Data science is easy!

In [ ]:
word = "I want to master data science"
for letter in word:
    print(letter)

I

w
a
n
t

t
o

m
a
s
t
e
r

d
a
t
a

s
c
i
e
n
c
e

In [ ]:
# You can use it with enumerate function
for m, n in enumerate(word):
    print(f"Index {m}. {n}")

index 0. I
index 1.
index 2. w
index 3. a
index 4. n
index 5. t
index 6.
index 7. t
index 8. o
index 9.
index 10. m
index 11. a
index 12. s
index 13. t
index 14. e
index 15. r
index 16.
index 17. d
index 18. a
index 19. t
index 20. a
index 21.
index 22. s
index 23. c
index 24. i
index 25. e
index 26. n
index 27. c
index 28. e

In [ ]:
# It can go backwards
for i in range(5,1,-1):
    print("I want big data's")

I want big data's
I want big data's
I want big data's
I want big data's

#### Keyword control

In [ ]:
for i in range(5):
    if i == 2:
        continue  # skip theis loop when i is equal to 2
    if i == 4:
        break  # stops the loop when i is equal to 4
    print(i)

0
1
3

### Using while loop

In [ ]:
count = 0
while count < 4:
    print("Keep the spirits up interns!")
    count += 1

Keep the spirits up interns!
Keep the spirits up interns!
Keep the spirits up interns!
Keep the spirits up interns!

# 7) Python Data Structures / Composite Data Types / Collection

### List

In java we know as arrays, but in python python the data structure prefixed by [] is a list

List is a type of ordered sequence, and is one of the most commonly used variables in Python. It is similar to arrays in other programming languages. The difference is that List elements in Python don't have to have the same data type. Declaring a List is easy with square brackets and comma-separated elements.

The sequence here means that every data that we want to access must start from index 0 first.

In [ ]:
# Lists can be created with a variety of variables, without the need to declare them specifically
name_list = ['Yasheen', 'Agus', 'Bu Ketua', 'Pieter']
int_list = [1, 2, 3, 4]
float_list = [1.0, 0.5, 1.5]

In [ ]:
a = [1, 2.2, 'python',100, "Bambang"]
a

[1, 2.2, 'python', 100, 'Bambang']

In [ ]:
name_list[3]

'Pieter'

In [ ]:
for per_item in float_list:
    print(per_item)

1.0
0.5
1.5

#### Slicing

In python we recognize the term **Slicing** which allows us to access a subset of elements in a list, tuple, or string. With slicing, we can retrieve a subset of those elements in a very efficient way.

**How to slice** &#128298;

`list[$x$ : $y$ : $z$ ]`
*   `x` = Start of the slice
*   `y` = The end of the slice is the previous item
*   `z` = Step

In [ ]:
x = [2, 8, 15, 25, 29, 30 , 35, 40, 59, 65, 78]
print(f"The length of this list is: {len(x)}")
print(x[8])
print(x[-2])
print(x[3:5])
print(x[7:])
print(x[:3])
print(x[-3:])
print(x[:-2])
print(x[0:8:2])

The length of this list is: 11
59
65
[25, 29]
[40, 59, 65, 78]
[2, 8, 15]
[59, 65, 78]
[2, 8, 15, 25, 29, 30, 35, 40, 59]
[2, 15, 29, 35]

#### Manipulating data in a list

In [ ]:
q = [1, 2, 3, 4]
print(q)
# adding data to the list
q.append(5)
print(q)
# deleting data from the list
del q[0] # list order starting from index 0
print(q)
# replacing values of the list
q[1] = 0
print(q)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[2, 0, 4, 5]

### Dictionary

A dictionary in Python is an unordered collection of key-value pairs. Dictionaries can be used to store small to large amounts of data. To access the data, we need to know the key. In Python, dictionaries are defined with curly braces and the following additional definitions:

1.  Each key-value pair element is separated by a comma (,).
2.  Key and Value are separated by a colon (:).
3.  Key and Value can be any type of variable/object.

d = { $key$ : $value$ }

Unlike lists, dictionaries are not part of the sequences implementation, so they cannot be called in index order. For example, in the following example, it was tried with index 2, but it returned an error (KeyError) because there is no key 2:

In [ ]:
d = {
    'key1': 'value1',
    'key2': 'value2',
    'key3': 'value3'
}

d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [ ]:
d = {
    'Father':'Adi',
    'Mom':'Wati'
}
print(type(d))
print("d['Father'] = ", d['Father'])
print("d['Mom'] = ", d['Mom'])

# print("d['Wati'] = ", d['Mom'])     # error

<class 'dict'>
d['Bapak'] =  Budi
d['Ibu'] =  Sukarni

In [ ]:
ds = {
    'A' : 9+2j,
    2 : 10.5,
}

ds

{'A': (9+2j), 2: 10.5}

In [ ]:
# Another advanced example
# we can combine lists with dictionaries
e = {
    'customerID' : [2312, 2342, 3341, 1235, 9382],
    'customer_name' : ['John', 'Saputra', 'Wattson', 'Sommerville', 'Gremmy'],
    'birthplace' : ['JKT', 'SBY', 'SMG', 'BDG', 'BGR']
}

In [ ]:
e['birthplace']

['JKT', 'SBY', 'SMG', 'BDG', 'BGR']

## Sets

Used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable, and unindexed.

In [ ]:
this_is_set = {"ferrari", "renault", "lamborgini", "toyota"}
print(this_is_set)

{'renault', 'ferrari', 'toyota', 'lamborgini'}

Duplicates aren't allowed

In [ ]:
a_set = {"table", "chair", "fan", "chair"}
a_set

{'chair', 'fan', 'table'}

True and 1 is considered the same value

In [ ]:
another_set = {"apple", "banana", "cherry", True, 1, 2}

print(another_set)

{True, 2, 'cherry', 'apple', 'banana'}

False and 0 is considered the same value

In [ ]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'cherry', 'apple', 'banana'}

### Tuple

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered, unchangeable, and allow duplicates.

Tuples are written with round brackets.

In [ ]:
tuple1 = ("key", "pins", "caps")
print(tuple1)

('key', 'pins', 'caps')

# 8) Functions

Functions are defined with the **def** keyword followed by the function name and its parameters in brackets ().

In [ ]:
def func_name():
    a_value = "A value in a function"
    return a_value

print(func_name())

A value in a function

In [ ]:
def another_func():
    # it is named void function in java
    print("Welcome to python")

def sum_func(x, y):
    # Statement
    return x+y

another_func()
sum_func(2, 5)

Welcome to python

7

### Lambda Function

a more simple way than using regular function

In [ ]:
lamb_func = lambda x, y: x*y
print(lamb_func(10, 22))

220

# 9) Object Oriented Programming (OOP)
Object-Oriented Programming (OOP) is a programming paradigm that uses “objects” to design applications and programs. It provides a means of bundling data and functionality together and can help in organizing complex software systems.

We're gonna cover up some of the most common used OOP techniques in data science such as :
- Objects and Classes
- Inheritance
- Polymorphism
- Abstraction

<img src="https://miro.medium.com/v2/resize:fit:1000/1*tlRI11nhESVLeZczKSh6qQ.png" alt="precedence_img" width="500">

### Objects and Classes

Class : A blueprint for creating objects. A class defines a set of attributes (data) and methods (functions) that the created objects will have.

Object : An instance of a class. Objects are created using the class blueprint and can hold unique data while sharing the structure defined by the class.

In [ ]:
class DataPoint:
    """A simple class representing a data point in 2D space."""

    def __init__(self, x, y):
        self.x = x  # Attribute for x-coordinate
        self.y = y  # Attribute for y-coordinate

    def display(self):
        print(f"DataPoint({self.x}, {self.y})")

# Creating objects (instances) of DataPoint
point1 = DataPoint(2, 3)
point2 = DataPoint(5, 7)

point1.display()  # Output: DataPoint(2, 3)
point2.display()  # Output: DataPoint(5, 7)

DataPoint(2, 3)
DataPoint(5, 7)

### Inheritance

A mechanism where a new class (child or subclass) inherits attributes and methods from an existing class (parent or superclass). This allows for code reuse and the creation of a hierarchical relationship between classes.

In [ ]:
class DataPoint:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def display(self):
        print(f"DataPoint({self.x}, {self.y})")

# Inheriting from DataPoint
class LabeledDataPoint(DataPoint):
    def __init__(self, x, y, label):
        super().__init__(x, y)  # Initialize attributes from the parent class
        self.label = label     # New attribute specific to the subclass

    def display(self):
        # Override display to include the label
        print(f"LabeledDataPoint({self.x}, {self.y}, label={self.label})")

# Creating an object of LabeledDataPoint
labeled_point = LabeledDataPoint(2, 3, "Budiman")
labeled_point.display()  # Output: LabeledDataPoint(2, 3, label=Budiman)

LabeledDataPoint(2, 3, label=Budiman)

### Polymorphism

The ability for different classes to be treated as instances of the same class through a common interface. It allows methods to be used in different ways depending on the object that is calling them.

In [ ]:
class DataPoint:
    def display(self):
        print("I am a generic data point.")

class LabeledDataPoint(DataPoint):
    def display(self):
        print("I am a labeled data point.")

class WeightedDataPoint(DataPoint):
    def display(self):
        print("I am a weighted data point.")

# A function that accepts any object with a display() method
def show_data_point(dp: DataPoint):
    dp.display()

# Creating different types of data points
dp1 = DataPoint()
dp2 = LabeledDataPoint()
dp3 = WeightedDataPoint()

# Each object responds differently to the same method call
show_data_point(dp1)  # Output: I am a generic data point.
show_data_point(dp2)  # Output: I am a labeled data point.
show_data_point(dp3)  # Output: I am a weighted data point.

I am a generic data point.
I am a labeled data point.
I am a weighted data point.

### Abstraction

The process of hiding the complex implementation details and showing only the necessary features of an object. In Python, you can achieve abstraction using abstract base classes (ABCs) provided by the abc module.

In [ ]:
from abc import ABC, abstractmethod

class DataProcessor(ABC):
    """Abstract base class for data processing."""

    @abstractmethod
    def process(self, data):
        """Process the data and return the result."""
        pass

class Normalizer(DataProcessor):
    def process(self, data):
        # Simple normalization: (value - min) / (max - min)
        min_val = min(data)
        max_val = max(data)
        return [(x - min_val) / (max_val - min_val) for x in data]

class Standardizer(DataProcessor):
    def process(self, data):
        # Standardize: (value - mean) / std
        mean_val = sum(data) / len(data)
        variance = sum((x - mean_val) ** 2 for x in data) / len(data)
        std = variance ** 0.5
        return [(x - mean_val) / std for x in data]

# Usage
data = [10, 20, 30, 40, 50]

normalizer = Normalizer()
standardizer = Standardizer()

print("Normalized data:", normalizer.process(data))
print("Standardized data:", standardizer.process(data))

Normalized data: [0.0, 0.25, 0.5, 0.75, 1.0]
Standardized data: [-1.414213562373095, -0.7071067811865475, 0.0, 0.7071067811865475, 1.414213562373095]

## Yeay you've learn a lot!! &#127937;

You can freely check other python materials in the web

Now let's test your knowledge at `practice.ipynb`